*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


.main{
    width: 100%;
    height: 100vh;
    background-color: rgb(148, 99, 50);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: grid;
    grid-template-columns: 174px 174px 354px;
    grid-template-rows: 173px 164px 335px;
}

.box1{
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    margin: 10px;
}


.box1:nth-child(1){
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: pink;
    background-image: url(./img1.avif);
    padding: 25px;

}
.li{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #888888;
box-shadow: 
  10px 5px 5px #888888,  /* Bottom-right */
  -10px 5px 5px #888888, /* Bottom-left */
  10px -5px 5px #888888, /* Top-right */
  -10px -5px 5px #888888; /* Top-left */


opacity: 0.8;
border: NONE;


}
.li H1{
    font-size: 20px;
}



.box1:nth-child(2){
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: cadetblue;
    background-image: url(./img2.jpg);
}

.box1 .D{

    width: 50px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #a97b8a;

    box-shadow:   10px 5px 5px #a97b8a,  /* Bottom-right */
    -10px 5px 5px #a97b8a, /* Bottom-left */
    10px -5px 5px #a97b8a, /* Top-right */
    -10px -5px 5px #a97b8a;


    position:relative;
    left: 20px;
    top: 60px;

}




.box1:nth-child(3){
    grid-column: 3/4;
    grid-row: 1/3;
    background-color: rgb(98, 126, 127);
    background-image: url(./img3.avif);


}

.box1:nth-child(3) .Ig h1{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #475699;

    box-shadow:   10px 5PX 5px #475699,  /* Bottom-right */
    -10px 5px 5px #475699, /* Bottom-left */
    10px -5px 5px #475699, /* Top-right */
    -10px -5px 5px #475699;


    position:relative;
    left: 20px;
    top: 20px;
}


.box1:nth-child(4){
    grid-column: 1/3;
    grid-row: 2/3;
    background-color: rgb(139, 103, 196);
    background-image: url(./img4.jpg);
}

.box1:nth-child(4) .t{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #475699b9;

    box-shadow:   10px 5PX 5px #475699b9,  /* Bottom-right */
    -10px 5px 5px #475699b9, /* Bottom-left */
    10px -5px 5px #475699b9, /* Top-right */
    -10px -5px 5px #475699b9;

    position:relative;
    left: 20px;
    top: 20px;
}



.box1:nth-child(5){
    grid-column: 1/4;
    grid-row: 3/4;
    background-color: rgb(186, 216, 130);

}

.box1:nth-child(5) ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    font-size: 14px;
    justify-content: space-evenly;
    padding-top: 15px;
}
.box1:nth-child(5) ul i{
}

.baj{
    font-size: 90px;

}
.box1:nth-child(5){
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.right{
    font-size: 15px;
    font-weight: 300;
}





